<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--AUTENTICACION DE WINDOWS-->
    <add name="DatabaseConnection"
      connectionString="Data Source=LAPTOP-MM9C4PM3\TOMASGAVAGNIN;Integrated Security=SSPI; Initial Catalog=BDRestaurantes"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>